body {
    height: 700px;
    background-image:url(https://marketplace.canva.com/EAEK4dC2olw/1/0/1600w/canva-arco%C3%ADris-gradiente-rosa-y-naranja-fondo-virtual-para-zoom-c3PYha1JI9M.jpg);
  background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    }

  h1 {text-shadow: 7px 4px 5px rgb(236, 125, 240);}
 

 