body {
    height: 400px;
    background-image:url(https://us.123rf.com/450wm/armpannawat/armpannawat1505/armpannawat150500093/40383658-mesa-de-madera-vac%C3%ADa-y-moderno-fondo-de-biblioteca-exposici%C3%B3n-de-productos.jpg?ver=6);
  background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }

  p.cursiv {font-family: cursive;}
  h1 {text-shadow: 7px 4px 5px yellowgreen;}

  



